html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display: block;
}
body{
	line-height: 1;
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class*='col-']{
	float: left;
	padding-right: 20px;
}
[class*='col-']:last-of-type{
	padding-right: 0px;
}
.grid{
	width: 100%;
	max-width: 960px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}
.grid:after{
	content: "";
	display: table;
	clear: both;
}
.grid-pad{
	padding: 20px 0 0px 20px;
}
.grid-pad > [class*='col-']:last-of-type{
	padding-right: 20px;
}
.push-right{
	float: right;
}
.col-1-1{
	width: 100%;
}
.col-2-3, .col-8-12{
	width: 66.66%;
}
.col-1-2, .col-6-12{
	width: 50%;
}
.col-1-3, .col-4-12{
	width: 33.33%;
}
.col-1-4, .col-3-12{
	width: 25%;
}
.col-1-5{
	width: 20%;
}
.col-1-6, .col-2-12{
	width: 16.667%;
}
.col-1-7{
	width: 14.28%;
}
.col-1-8{
	width: 12.5%;
}
.col-1-9{
	width: 11.1%;
}
.col-1-10{
	width: 10%;
}
.col-1-11{
	width: 9.09%;
}
.col-1-12{
	width: 8.33%
}
.col-11-12{
	width: 91.66%
}
.col-10-12{
	width: 83.333%;
}
.col-9-12{
	width: 75%;
}
.col-5-12{
	width: 41.66%;
}
.col-7-12{
	width: 58.33%
}
.cf:before,
.cf:after{
	content: " ";
	display: table;
}
.cf:after{
	clear: both;
}
.cf{
	*zoom: 1;
}
/* Pages */
$f_bu: 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
$f_sans: 'futura-pt', $f_bu;
@mixin easing($speed){
	-moz-transition: all $speed ease;
	-webkit-transition: all $speed ease;
	-o-transition: all $speed ease;
	transition: all $speed ease;
}
body{
	font-family: $f_sans;
	font-size: 14px; color: #333;
	border-top: 4px solid #f76b1c;
}
.home{
	position: absolute;
	top: 30.33333%;
	bottom: 0;
	left: 0;
	right: 0;
	[class*='col-']{
		img{
			max-width: 100%;
			width: 100%;
			opacity: 0.85;
			@include easing(350ms);
			&:hover{
				@include easing(350ms);
				opacity: 0.65;
			}
		}
	}
	.profile-img{
		position: relative;
		.desc{
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			position: absolute;
			background-color: #2098ca;
			opacity: 0.7;
			top: 0px;
			right: 0px;
			bottom: 2px;
			left: 0px;
		}
	}
	.about{
		h1{font-weight: 700;}
		p{
			line-height: 2;
			padding: 20px 0px 0px 0px;
		}
		a{
			background: #ffa673;
			background: -moz-linear-gradient(top, #ffa673 0%, #f76b1c 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa673), color-stop(100%,#f76b1c));
			background: -webkit-linear-gradient(top,  #ffa673 0%,#f76b1c 100%);
			background: -o-linear-gradient(top,  #ffa673 0%,#f76b1c 100%);
			background: -ms-linear-gradient(top,  #ffa673 0%,#f76b1c 100%);
			background: linear-gradient(to bottom,  #ffa673 0%,#f76b1c 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa673', endColorstr='#f76b1c',GradientType=0 );
			border: 1px solid #C1591F;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			color: #fff;
			text-align: center;
			text-shadow: 0px 1px 1px #963E0C;
			text-decoration: none;
			padding: 10px;
			display: inline-block;
			margin: 20px 0px 0px 0px;
			&:hover{
				background: -moz-linear-gradient(top,  darken(#ffa673, 10%) 0%,  darken(#f76b1c, 10%) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,darken(#ffa673, 10%)), color-stop(100%, darken(#f76b1c, 10%)));
				background: -webkit-linear-gradient(top,  darken(#ffa673, 10%) 0%, darken(#f76b1c, 10%) 100%);
				background: -o-linear-gradient(top,  darken(#ffa673, 10%) 0%, darken(#f76b1c, 10%) 100%);
				background: -ms-linear-gradient(top,  darken(#ffa673, 10%) 0%, darken(#f76b1c, 10%) 100%);
				background: linear-gradient(to bottom,  darken(#ffa673, 10%) 0%, darken(#f76b1c, 10%) 100%);
			}
		}
	}
	nav{
		margin: 30px 0px 0px 0px;
		a{
			display: inline-block;
			color: #f76b1c;
			margin: 0px 20px 0px 0px;
			text-decoration: none;
			padding: 0px 0px 5px 0px;
			border-bottom: 1px solid #f76b1c;
			&:last-of-type{margin: 0px 0px 0px 0px;}
			@include easing(350ms);
			&:hover{
				@include easing(350ms);
				opacity: 0.7;
				border-bottom: 1px solid transparent;
			}
		}
		a.disabled{
			color: #777;
			cursor: not-allowed;
			border-bottom: 1px solid #777;
		}
	}
}
.contact{
	padding:20px;
	h1{font-weight: 700;}
	p{
		line-height: 2;
		padding: 20px 0px 20px 0px;
		a{color: #777;&:hover{opacity: 0.7;}}
	}
	max-width: 500px;
	margin: 100px auto;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px #ddd;
	-moz-box-shadow: 0px 0px 10px #ddd;
	box-shadow: 0px 0px 10px #ddd;
	form{
		input[type="text"],
		input[type="email"]{
			display: block;
			padding: 10px;
			width: 100%;
			margin: 0px 0px 20px 0px;
			border: 1px solid #ddd;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			font-family: $f_sans;
			color: #333;
			font-size: 14px;
		}
		input[type="submit"]{
			font-family: $f_sans;
			background: #ffa673;
			background: -moz-linear-gradient(top, #ffa673 0%, #f76b1c 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa673), color-stop(100%,#f76b1c));
			background: -webkit-linear-gradient(top,  #ffa673 0%,#f76b1c 100%);
			background: -o-linear-gradient(top,  #ffa673 0%,#f76b1c 100%);
			background: -ms-linear-gradient(top,  #ffa673 0%,#f76b1c 100%);
			background: linear-gradient(to bottom,  #ffa673 0%,#f76b1c 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa673', endColorstr='#f76b1c',GradientType=0 );
			border: 1px solid #C1591F;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			color: #fff;
			text-align: center;
			text-shadow: 0px 1px 1px #963E0C;
			text-decoration: none;
			padding: 10px;
			display: block;
			margin: 20px 0px 0px 0px;
			font-size: 14px;
			cursor: pointer;
			&:hover{
				background: -moz-linear-gradient(top,  darken(#ffa673, 10%) 0%,  darken(#f76b1c, 10%) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,darken(#ffa673, 10%)), color-stop(100%, darken(#f76b1c, 10%)));
				background: -webkit-linear-gradient(top,  darken(#ffa673, 10%) 0%, darken(#f76b1c, 10%) 100%);
				background: -o-linear-gradient(top,  darken(#ffa673, 10%) 0%, darken(#f76b1c, 10%) 100%);
				background: -ms-linear-gradient(top,  darken(#ffa673, 10%) 0%, darken(#f76b1c, 10%) 100%);
				background: linear-gradient(to bottom,  darken(#ffa673, 10%) 0%, darken(#f76b1c, 10%) 100%);
			}
		}
	}
	nav{
		margin: 20px 0px 0px 0px;
		a{
			display: inline-block;
			color: #f76b1c;
			margin: 0px 20px 0px 0px;
			text-decoration: none;
			padding: 0px 0px 5px 0px;
			border-bottom: 1px solid #f76b1c;
			&:last-of-type{margin: 0px 0px 0px 0px;}
			@include easing(350ms);
			&:hover{
				@include easing(350ms);
				opacity: 0.7;
				border-bottom: 1px solid transparent;
			}
		}
		a.disabled{
			color: #777;
			cursor: not-allowed;
			border-bottom: 1px solid #777;
		}
	}
}
.thanks{@extend .contact;}
.journal{
	max-width: 700px;
	margin: 50px auto;
	img{max-width: 100%;}
	.post{
		padding: 0px 0px 50px 0px;
		h1{
			font-size: 14px;
			font-weight: 500;
			margin: 0px 0px 20px 0px;
			padding: 10px 0px 10px 20px;
			border-left: 2px solid #f76b1c;
		}
		p{
			margin: 20px 0px 0px 0px;
		}
	}
}
.main-nav{
	max-width: 700px;
	margin: 50px auto 0px auto;
	text-align: center;
	a{
		text-align: center;
		display: inline-block;
		color: #f76b1c;
		margin: 0px 20px 0px 0px;
		text-decoration: none;
		padding: 0px 0px 5px 0px;
		border-bottom: 1px solid #f76b1c;
		&:last-of-type{margin: 0px 0px 0px 0px;}
		@include easing(350ms);
		&:hover{
			@include easing(350ms);
			opacity: 0.7;
			border-bottom: 1px solid transparent;
		}
	}
}
@media all and (max-width: 1030px){
	.home{
		position: relative;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin: 100px auto;
		padding: 0px 30px 0px 30px;
	}
}
@media all and (max-width: 767px){
	.journal{
		width: auto;
		margin: 20px 20px;
	}
	.home{
		margin: 50px auto;
		p{max-width: 400px;}
		[class*='col-']{
			img{
				margin: 20px 0px 0px 0px;
				max-width: 400px;
			}
		}
		.profile-img{
			.desc{
				display: none;
				visibility: none;
			}
		}
	}
	.grid{
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	[class*='col-']{
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media all and (max-width: 560px){
	.main-nav{
		text-align: left;
		margin: 20px 20px 0px 20px;
		a{
			text-align: left;
			display: block;
			margin: 0px 0px 10px 0px;
			padding: 0px 0px 10px 0px;
			border-bottom: 0px;
			&:last-of-type{margin: 0px 0px 0px 0px;}
		}
	}
	.contact{
		margin: 50px 30px;
		nav{
			a{
				display: block;
				margin: 0px 0px 20px 0px;
				&:last-of-type{margin: 0px 0px 0px 0px;}
			}
		}
	}
}
@media all and (max-width: 520px){
	.home{
		nav{
			a{
				display: block;
				margin: 0px 0px 20px 0px;
				&:last-of-type{margin: 0px 0px 0px 0px;}
			}
		}
	}
}